:root {
    /* --mainColor: #606b56;
    --secondaryColor: #515a48; */

    --mainColor: rgba(96, 107, 86, 0.7);
    --secondaryColor: rgba(81, 90, 72, 0.7);

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --themeDotBorder: #fff;
    --previewBG: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;

    --buttonColor: #669966;
}